[submodule "docs/_static/docson"]
	path = docs/_static/docson
	url = https://github.com/OpenDataServices/docson
[submodule "flatten-tool"]
	path = flatten-tool
	url = https://github.com/OpenDataServices/flatten-tool/
  branch = sheet-name-length
