sphinx
sphinx-autobuild
sphinx-design
sphinx-togglebutton
sphinxcontrib-mermaid
sphinxcontrib-opendataservices
sphinxcontrib-opendataservices-jsonschema
sphinx-intl
#transifex-client
sphinx_rtd_theme
myst-parser
pytest
jscc @ git+https://github.com/OpenDataServices/jscc-2020-12@40ffef2f55dff9c3c0a1fdf8cb26d06b261c168f
ocdskit
mdformat
