sphinx
sphinx-autobuild
sphinx-design
sphinx-togglebutton
sphinxcontrib-mermaid
sphinxcontrib-opendataservices
sphinxcontrib-opendataservices-jsonschema
sphinx-intl
#transifex-client
sphinx_rtd_theme
myst-parser
mdformat
